
body{
    margin:0;
}
h1 {
    background:deepskyblue;
    color:white;
    margin:0;
    padding:1rem;
    font-size:2.5rem;
}
a {
    text-decoration:none;
}


.link_area {
    display:flex;
}
.link {
    display:block;

    width: 50%;
    padding:1rem;
    color: white;
    background:skyblue;

    text-align:center;
}
